body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.nav-bar {
  display: inline-table;
  float: left;
}

.container {
  display: inline-table;
  float: left;
  overflow-y: hidden;
}

.listContainer {
  width: 200px;
  display: inline-table;
  background-color: #efefef;
  height: 100vh;
  overflow-y: hidden;
}
